<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="camera_test">
   
   <!-- import macro-->
   <xacro:include filename="$(find modproft_camera_description)/urdf/camera_macro_depreached.xacro"/>
   

   <!-- create link fixed to the "world" -->
   <link name="world" />

  <!-- camera definition -->
  <xacro:generate_camera prefix="" attachment_link="world"/>
</robot>