<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="read_adapter_data" params="adapter_parameter_file">
        <!-- Read .yaml files from disk, load content into properties -->
        <xacro:property name="config_adapter_parameters" value="${load_yaml(adapter_parameter_file)}"/>

        <!-- Extract subsections from yaml dictionaries -->
        <xacro:property name="adapter_plate" value="${config_adapter_parameters['adapter_plate']}" scope="parent"/>
        <xacro:property name="cover_binder" value="${config_adapter_parameters['cover_binder']}" scope="parent"/>

        <!-- Extract parameters from subsections -->
        <!-- Adapter plate -->
        <!-- Inertial parameters -->
        <xacro:property name="adapter_plate_inertial_origin_rpy" value="${box['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_origin_xyz" value="${box['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_mass" value="${box['inertial']['mass']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_inertia_ixx" value="${adapter_plate['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_inertia_ixy" value="${adapter_plate['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_inertia_ixy" value="${adapter_plate['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_inertia_iyy" value="${adapter_plate['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_inertia_iyz" value="${adapter_plate['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="adapter_plate_inertial_inertia_izz" value="${adapter_plate['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="adapter_plate_visual_origin_rpy" value="${adapter_plate['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="adapter_plate_visual_origin_xyz" value="${adapter_plate['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="adapter_plate_visual_geometry_mesh" value="${adapter_plate['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="adapter_plate_visual_geometry_scale" value="${adapter_plate['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="adapter_plate_visual_material" value="${adapter_plate['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="adapter_plate_collision_origin_rpy" value="${adapter_plate['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="adapter_plate_collision_origin_xyz" value="${adapter_plate['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="adapter_plate_collision_geometry_mesh" value="${adapter_plate['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="adapter_plate_collision_geometry_scale" value="${adapter_plate['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Cover binder -->
        <!-- Inertial parameters -->
        <xacro:property name="cover_binder_inertial_origin_rpy" value="${cover_binder['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_origin_xyz" value="${cover_binder['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_mass" value="${cover_binder['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_inertia_ixx" value="${cover_binder['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_inertia_ixy" value="${cover_binder['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_inertia_ixy" value="${cover_binder['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_inertia_iyy" value="${cover_binder['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_inertia_iyz" value="${cover_binder['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cover_binder_inertial_inertia_izz" value="${cover_binder['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="cover_binder_visual_origin_rpy" value="${cover_binder['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_binder_visual_origin_xyz" value="${cover_binder['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_binder_visual_geometry_mesh" value="${cover_binder['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cover_binder_visual_geometry_scale" value="${cover_binder['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cover_binder_visual_material" value="${cover_binder['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="cover_binder_collision_origin_rpy" value="${cover_binder['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_binder_collision_origin_xyz" value="${cover_binder['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_binder_collision_geometry_mesh" value="${cover_binder['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cover_binder_collision_geometry_scale" value="${cover_binder['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Joints -->
        <!-- Adapter plate -->
        <xacro:property name="adapter_plate_joint_origin_rpy" value="${adapter_plate['joints']['box_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="adapter_plate_joint_origin_xyz" value="${adapter_plate['joints']['box_joint']['origin']['xyz']}" scope="parent"/>
        <!-- Cover binder -->
        <xacro:property name="cover_binder_joint_origin_rpy" value="${cover_binder['joints']['cover_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_binder_joint_origin_xyz" value="${cover_binder['joints']['cover_joint']['origin']['xyz']}" scope="parent"/>


    </xacro:macro>
</robot>
