<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="read_model_data" params="model_parameter_file">
        <!-- Read .yaml files from disk, load content into properties -->
        <xacro:property name="config_box_parameters" value="${load_yaml(model_parameter_file)}"/>

        <!-- Extract subsections from yaml dictionaries -->
        <xacro:property name="box" value="${config_box_parameters['box']}" scope="parent"/>
        <xacro:property name="cover" value="${config_box_parameters['cover']}" scope="parent"/>
        <xacro:property name="lever" value="${config_box_parameters['lever']}" scope="parent"/>

        <!-- Extract parameters from subsections -->
        <!-- Box -->
        <!-- Inertial parameters -->
        <xacro:property name="box_inertial_origin_rpy" value="${box['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="box_inertial_origin_xyz" value="${box['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="box_inertial_mass" value="${box['inertial']['mass']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_ixx" value="${box['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_ixy" value="${box['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_ixy" value="${box['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_iyy" value="${box['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_iyz" value="${box['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_izz" value="${box['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="box_visual_origin_rpy" value="${box['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="box_visual_origin_xyz" value="${box['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="box_visual_geometry_mesh" value="${box['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="box_visual_geometry_scale" value="${box['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="box_visual_material" value="${box['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="box_collision_origin_rpy" value="${box['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="box_collision_origin_xyz" value="${box['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="box_collision_geometry_mesh" value="${box['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="box_collision_geometry_scale" value="${box['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Cover -->
        <!-- Inertial parameters -->
        <xacro:property name="cover_inertial_origin_rpy" value="${cover['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_inertial_origin_xyz" value="${cover['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_inertial_mass" value="${cover['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cover_inertial_inertia_ixx" value="${cover['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cover_inertial_inertia_ixy" value="${cover['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cover_inertial_inertia_ixy" value="${cover['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cover_inertial_inertia_iyy" value="${cover['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cover_inertial_inertia_iyz" value="${cover['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cover_inertial_inertia_izz" value="${cover['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="cover_visual_origin_rpy" value="${cover['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_visual_origin_xyz" value="${cover['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_visual_geometry_mesh" value="${cover['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cover_visual_geometry_scale" value="${cover['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cover_visual_material" value="${cover['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="cover_collision_origin_rpy" value="${cover['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_collision_origin_xyz" value="${cover['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_collision_geometry_mesh" value="${cover['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cover_collision_geometry_scale" value="${cover['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Lever -->
        <!-- Inertial parameters -->
        <xacro:property name="lever_inertial_origin_rpy" value="${lever['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="lever_inertial_origin_xyz" value="${lever['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="lever_inertial_mass" value="${lever['inertial']['mass']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_ixx" value="${lever['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_ixy" value="${lever['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_ixy" value="${lever['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_iyy" value="${lever['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_iyz" value="${lever['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_izz" value="${lever['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="lever_visual_origin_rpy" value="${lever['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="lever_visual_origin_xyz" value="${lever['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="lever_visual_geometry_mesh" value="${lever['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="lever_visual_geometry_scale" value="${lever['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="lever_visual_material" value="${lever['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="lever_collision_origin_rpy" value="${lever['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="lever_collision_origin_xyz" value="${lever['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="lever_collision_geometry_mesh" value="${lever['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="lever_collision_geometry_scale" value="${lever['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Joints -->
        <!-- Cover -->
        <xacro:property name="boxcover_joint_origin_rpy" value="${box['joints']['cover_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_xyz" value="${box['joints']['cover_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_axis_xyz" value="${box['joints']['cover_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_limit_effort" value="${box['joints']['cover_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_limit_lower" value="${box['joints']['cover_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_limit_upper" value="${box['joints']['cover_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_limit_velocity" value="${box['joints']['cover_joint']['limit']['velocity']}" scope="parent"/>
        <!-- Lever -->
        <xacro:property name="boxlever_joint_origin_rpy" value="${box['joints']['lever_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_xyz" value="${box['joints']['lever_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_axis_xyz" value="${box['joints']['lever_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_limit_effort" value="${box['joints']['lever_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_limit_lower" value="${box['joints']['lever_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_limit_upper" value="${box['joints']['lever_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_limit_velocity" value="${box['joints']['lever_joint']['limit']['velocity']}" scope="parent"/>


    </xacro:macro>
</robot>
