<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="read_adapterbox_data" params="adapterbox_parameter_file">
        <!-- Read .yaml files from disk, load content into properties -->
        <xacro:property name="config_box_parameters" value="${load_yaml(adapterbox_parameter_file)}"/>

        <!-- Extract subsections from yaml dictionaries -->
        <xacro:property name="box" value="${config_box_parameters['box']}" scope="parent"/>
        <xacro:property name="cover_frame" value="${config_box_parameters['cover_frame']}" scope="parent"/>
        <xacro:property name="lever" value="${config_box_parameters['lever']}" scope="parent"/>
        <xacro:property name="cylinder_body_left" value="${config_box_parameters['cylinder_body_left']}" scope="parent"/>
        <xacro:property name="cylinder_body_right" value="${config_box_parameters['cylinder_body_right']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left" value="${config_box_parameters['cylinder_rod_left']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right" value="${config_box_parameters['cylinder_rod_right']}" scope="parent"/>

        <!-- Extract parameters from subsections -->
        <!-- Box -->
        <!-- Inertial parameters -->
        <xacro:property name="box_inertial_origin_rpy" value="${box['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="box_inertial_origin_xyz" value="${box['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="box_inertial_mass" value="${box['inertial']['mass']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_ixx" value="${box['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_ixy" value="${box['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_ixy" value="${box['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_iyy" value="${box['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_iyz" value="${box['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="box_inertial_inertia_izz" value="${box['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="box_visual_origin_rpy" value="${box['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="box_visual_origin_xyz" value="${box['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="box_visual_geometry_mesh" value="${box['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="box_visual_geometry_scale" value="${box['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="box_visual_material" value="${box['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="box_collision_origin_rpy" value="${box['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="box_collision_origin_xyz" value="${box['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="box_collision_geometry_mesh" value="${box['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="box_collision_geometry_scale" value="${box['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Cover -->
        <!-- Inertial parameters -->
        <xacro:property name="cover_frame_inertial_origin_rpy" value="${cover_frame['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_origin_xyz" value="${cover_frame['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_mass" value="${cover_frame['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_inertia_ixx" value="${cover_frame['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_inertia_ixy" value="${cover_frame['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_inertia_ixy" value="${cover_frame['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_inertia_iyy" value="${cover_frame['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_inertia_iyz" value="${cover_frame['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cover_frame_inertial_inertia_izz" value="${cover_frame['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="cover_frame_visual_origin_rpy" value="${cover_frame['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_frame_visual_origin_xyz" value="${cover_frame['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_frame_visual_geometry_mesh" value="${cover_frame['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cover_frame_visual_geometry_scale" value="${cover_frame['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cover_frame_visual_material" value="${cover_frame['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="cover_frame_collision_origin_rpy" value="${cover_frame['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cover_frame_collision_origin_xyz" value="${cover_frame['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cover_frame_collision_geometry_mesh" value="${cover_frame['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cover_frame_collision_geometry_scale" value="${cover_frame['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Lever -->
        <!-- Inertial parameters -->
        <xacro:property name="lever_inertial_origin_rpy" value="${lever['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="lever_inertial_origin_xyz" value="${lever['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="lever_inertial_mass" value="${lever['inertial']['mass']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_ixx" value="${lever['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_ixy" value="${lever['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_ixy" value="${lever['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_iyy" value="${lever['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_iyz" value="${lever['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="lever_inertial_inertia_izz" value="${lever['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="lever_visual_origin_rpy" value="${lever['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="lever_visual_origin_xyz" value="${lever['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="lever_visual_geometry_mesh" value="${lever['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="lever_visual_geometry_scale" value="${lever['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="lever_visual_material" value="${lever['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="lever_collision_origin_rpy" value="${lever['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="lever_collision_origin_xyz" value="${lever['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="lever_collision_geometry_mesh" value="${lever['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="lever_collision_geometry_scale" value="${lever['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Cylinder bodies -->
        <!-- Inertial parameters -->
        <xacro:property name="cylinder_body_left_inertial_origin_rpy" value="${cylinder_body_left['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_origin_xyz" value="${cylinder_body_left['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_mass" value="${cylinder_body_left['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_inertia_ixx" value="${cylinder_body_left['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_inertia_ixy" value="${cylinder_body_left['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_inertia_ixy" value="${cylinder_body_left['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_inertia_iyy" value="${cylinder_body_left['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_inertia_iyz" value="${cylinder_body_left['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_inertial_inertia_izz" value="${cylinder_body_left['inertial']['inertia']['izz']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_origin_rpy" value="${cylinder_body_right['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_origin_xyz" value="${cylinder_body_right['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_mass" value="${cylinder_body_right['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_inertia_ixx" value="${cylinder_body_right['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_inertia_ixy" value="${cylinder_body_right['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_inertia_ixy" value="${cylinder_body_right['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_inertia_iyy" value="${cylinder_body_right['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_inertia_iyz" value="${cylinder_body_right['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_inertial_inertia_izz" value="${cylinder_body_right['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="cylinder_body_left_visual_origin_rpy" value="${cylinder_body_left['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_visual_origin_xyz" value="${cylinder_body_left['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_visual_geometry_mesh" value="${cylinder_body_left['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_visual_geometry_scale" value="${cylinder_body_left['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_visual_material" value="${cylinder_body_left['visual']['material']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_visual_origin_rpy" value="${cylinder_body_right['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_visual_origin_xyz" value="${cylinder_body_right['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_visual_geometry_mesh" value="${cylinder_body_right['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_visual_geometry_scale" value="${cylinder_body_right['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_visual_material" value="${cylinder_body_right['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="cylinder_body_left_collision_origin_rpy" value="${cylinder_body_left['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_collision_origin_xyz" value="${cylinder_body_left['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_collision_geometry_mesh" value="${cylinder_body_left['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_body_left_collision_geometry_scale" value="${cylinder_body_left['collision']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_collision_origin_rpy" value="${cylinder_body_left['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_collision_origin_xyz" value="${cylinder_body_left['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_collision_geometry_mesh" value="${cylinder_body_left['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_body_right_collision_geometry_scale" value="${cylinder_body_left['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Cylinder rods -->
        <!-- Inertial parameters -->
        <xacro:property name="cylinder_rod_left_inertial_origin_rpy" value="${cylinder_rod_left['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_origin_xyz" value="${cylinder_rod_left['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_mass" value="${cylinder_rod_left['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_inertia_ixx" value="${cylinder_rod_left['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_inertia_ixy" value="${cylinder_rod_left['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_inertia_ixy" value="${cylinder_rod_left['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_inertia_iyy" value="${cylinder_rod_left['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_inertia_iyz" value="${cylinder_rod_left['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_inertial_inertia_izz" value="${cylinder_rod_left['inertial']['inertia']['izz']}" scope="parent"/>

        <xacro:property name="cylinder_rod_right_inertial_origin_rpy" value="${cylinder_rod_right['inertial']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_origin_xyz" value="${cylinder_rod_right['inertial']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_mass" value="${cylinder_rod_right['inertial']['mass']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_inertia_ixx" value="${cylinder_rod_right['inertial']['inertia']['ixx']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_inertia_ixy" value="${cylinder_rod_right['inertial']['inertia']['ixy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_inertia_ixy" value="${cylinder_rod_right['inertial']['inertia']['ixz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_inertia_iyy" value="${cylinder_rod_right['inertial']['inertia']['iyy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_inertia_iyz" value="${cylinder_rod_right['inertial']['inertia']['iyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_inertial_inertia_izz" value="${cylinder_rod_right['inertial']['inertia']['izz']}" scope="parent"/>
        <!-- Visual parameters -->
        <xacro:property name="cylinder_rod_left_visual_origin_rpy" value="${cylinder_rod_left['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_visual_origin_xyz" value="${cylinder_rod_left['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_visual_geometry_mesh" value="${cylinder_rod_left['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_visual_geometry_scale" value="${cylinder_rod_left['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_visual_material" value="${cylinder_rod_left['visual']['material']}" scope="parent"/>

        <xacro:property name="cylinder_rod_right_visual_origin_rpy" value="${cylinder_rod_right['visual']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_visual_origin_xyz" value="${cylinder_rod_right['visual']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_visual_geometry_mesh" value="${cylinder_rod_right['visual']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_visual_geometry_scale" value="${cylinder_rod_right['visual']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_visual_material" value="${cylinder_rod_right['visual']['material']}" scope="parent"/>
        <!-- Collision parameters -->
        <xacro:property name="cylinder_rod_left_collision_origin_rpy" value="${cylinder_rod_left['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_collision_origin_xyz" value="${cylinder_rod_left['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_collision_geometry_mesh" value="${cylinder_rod_left['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_rod_left_collision_geometry_scale" value="${cylinder_rod_left['collision']['geometry']['scale']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_collision_origin_rpy" value="${cylinder_rod_left['collision']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_collision_origin_xyz" value="${cylinder_rod_left['collision']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_collision_geometry_mesh" value="${cylinder_rod_left['collision']['geometry']['mesh']}" scope="parent"/>
        <xacro:property name="cylinder_rod_right_collision_geometry_scale" value="${cylinder_rod_left['collision']['geometry']['scale']}" scope="parent"/>

        <!-- Joints -->
        <!-- Cover -->
        <xacro:property name="boxcover_joint_origin_rpy" value="${box['joints']['cover_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="boxcover_joint_origin_xyz" value="${box['joints']['cover_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="boxcover_joint_axis_xyz" value="${box['joints']['cover_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="boxcover_joint_limit_effort" value="${box['joints']['cover_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="boxcover_joint_limit_lower" value="${box['joints']['cover_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="boxcover_joint_limit_upper" value="${box['joints']['cover_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="boxcover_joint_limit_velocity" value="${box['joints']['cover_joint']['limit']['velocity']}" scope="parent"/>

        <!-- Cylinder bodies -->
        <xacro:property name="covercylinder_left_joint_origin_rpy" value="${cover_frame['joints']['cylinder_body_left_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="covercylinder_left_joint_origin_xyz" value="${cover_frame['joints']['cylinder_body_left_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="covercylinder_left_joint_axis_xyz" value="${cover_frame['joints']['cylinder_body_left_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="covercylinder_left_joint_limit_effort" value="${cover_frame['joints']['cylinder_body_left_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="covercylinder_left_joint_limit_lower" value="${cover_frame['joints']['cylinder_body_left_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="covercylinder_left_joint_limit_upper" value="${cover_frame['joints']['cylinder_body_left_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="covercylinder_left_joint_limit_velocity" value="${cover_frame['joints']['cylinder_body_left_joint']['limit']['velocity']}" scope="parent"/>

        <xacro:property name="covercylinder_right_joint_origin_rpy" value="${cover_frame['joints']['cylinder_body_right_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="covercylinder_right_joint_origin_xyz" value="${cover_frame['joints']['cylinder_body_right_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="covercylinder_right_joint_axis_xyz" value="${cover_frame['joints']['cylinder_body_right_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="covercylinder_right_joint_limit_effort" value="${cover_frame['joints']['cylinder_body_right_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="covercylinder_right_joint_limit_lower" value="${cover_frame['joints']['cylinder_body_right_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="covercylinder_right_joint_limit_upper" value="${cover_frame['joints']['cylinder_body_right_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="covercylinder_right_joint_limit_velocity" value="${cover_frame['joints']['cylinder_body_right_joint']['limit']['velocity']}" scope="parent"/>

        <!-- Cylinder rods -->
        <xacro:property name="boxcylinder_left_joint_origin_rpy" value="${box['joints']['cylinder_rod_left_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="boxcylinder_left_joint_origin_xyz" value="${box['joints']['cylinder_rod_left_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="boxcylinder_left_joint_axis_xyz" value="${box['joints']['cylinder_rod_left_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="boxcylinder_left_joint_limit_effort" value="${box['joints']['cylinder_rod_left_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="boxcylinder_left_joint_limit_lower" value="${box['joints']['cylinder_rod_left_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="boxcylinder_left_joint_limit_upper" value="${box['joints']['cylinder_rod_left_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="boxcylinder_left_joint_limit_velocity" value="${box['joints']['cylinder_rod_left_joint']['limit']['velocity']}" scope="parent"/>

        <xacro:property name="boxcylinder_right_joint_origin_rpy" value="${box['joints']['cylinder_rod_right_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="boxcylinder_right_joint_origin_xyz" value="${box['joints']['cylinder_rod_right_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="boxcylinder_right_joint_axis_xyz" value="${box['joints']['cylinder_rod_right_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="boxcylinder_right_joint_limit_effort" value="${box['joints']['cylinder_rod_right_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="boxcylinder_right_joint_limit_lower" value="${box['joints']['cylinder_rod_right_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="boxcylinder_right_joint_limit_upper" value="${box['joints']['cylinder_rod_right_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="boxcylinder_right_joint_limit_velocity" value="${box['joints']['cylinder_rod_right_joint']['limit']['velocity']}" scope="parent"/>

        <!-- Cylinder -->
        <xacro:property name="cylinder_left_joint_origin_rpy" value="${cylinder_body_left['joints']['cylinder_left_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_left_joint_origin_xyz" value="${cylinder_body_left['joints']['cylinder_left_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_left_joint_axis_xyz" value="${cylinder_body_left['joints']['cylinder_left_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_left_joint_limit_effort" value="${cylinder_body_left['joints']['cylinder_left_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="cylinder_left_joint_limit_lower" value="${cylinder_body_left['joints']['cylinder_left_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="cylinder_left_joint_limit_upper" value="${cylinder_body_left['joints']['cylinder_left_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="cylinder_left_joint_limit_velocity" value="${cylinder_body_left['joints']['cylinder_left_joint']['limit']['velocity']}" scope="parent"/>

        <xacro:property name="cylinder_right_joint_origin_rpy" value="${cylinder_body_right['joints']['cylinder_right_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="cylinder_right_joint_origin_xyz" value="${cylinder_body_right['joints']['cylinder_right_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_right_joint_axis_xyz" value="${cylinder_body_right['joints']['cylinder_right_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="cylinder_right_joint_limit_effort" value="${cylinder_body_right['joints']['cylinder_right_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="cylinder_right_joint_limit_lower" value="${cylinder_body_right['joints']['cylinder_right_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="cylinder_right_joint_limit_upper" value="${cylinder_body_right['joints']['cylinder_right_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="cylinder_right_joint_limit_velocity" value="${cylinder_body_right['joints']['cylinder_right_joint']['limit']['velocity']}" scope="parent"/>

        <!-- Lever -->
        <xacro:property name="boxlever_joint_origin_rpy" value="${box['joints']['lever_joint']['origin']['rpy']}" scope="parent"/>
        <xacro:property name="boxlever_joint_origin_xyz" value="${box['joints']['lever_joint']['origin']['xyz']}" scope="parent"/>
        <xacro:property name="boxlever_joint_axis_xyz" value="${box['joints']['lever_joint']['axis']['xyz']}" scope="parent"/>
        <xacro:property name="boxlever_joint_limit_effort" value="${box['joints']['lever_joint']['limit']['effort']}" scope="parent"/>
        <xacro:property name="boxlever_joint_limit_lower" value="${box['joints']['lever_joint']['limit']['lower']}" scope="parent"/>
        <xacro:property name="boxlever_joint_limit_upper" value="${box['joints']['lever_joint']['limit']['upper']}" scope="parent"/>
        <xacro:property name="boxlever_joint_limit_velocity" value="${box['joints']['lever_joint']['limit']['velocity']}" scope="parent"/>

    </xacro:macro>
</robot>
