<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg entity_name)">
    <xacro:arg name="package_name" default="modproft_table_description" />
    <xacro:arg name="entity_type" default="" />
    <xacro:arg name="entity_name" default="" />
    <xacro:arg name="args" default="" />

    <xacro:property name="package_name" value="$(arg package_name)" />
    <xacro:property name="table_type" value="$(arg entity_type)" />
    <xacro:property name="table_name" value="$(arg entity_name)" />
    <xacro:property name="yaml_file_path" value="$(arg args)"/>

    <xacro:property name="yaml_file_content" value="${load_yaml(yaml_file_path)}"/>

    <xacro:property name="prefix" value="${yaml_file_content['prefix']}" />
    <xacro:property name="attachment_link" value="${yaml_file_content['attachment_link']}" />

    <xacro:include filename="$(find ${package_name})/urdf/table_macro.xacro" />
    <xacro:include filename="$(find modproft_common)/urdf/common_material_macro.xacro" />
    
    <link name="world"/>

    <xacro:generate_table
        prefix="${prefix}"
        attachment_link="${attachment_link}"
        table_name="${table_name}"
        table_type="${table_type}"
        package_name="${package_name}"
    />
</robot>